#
# Button GPIO Configuration
#
CONFIG_BUTTON_ACTIVATE_DEACTIVATE=32
CONFIG_BUTTON_BACK=35
CONFIG_BUTTON_MODE=34
CONFIG_BUTTON_DOWN=39
CONFIG_BUTTON_UP=36
# end of Button GPIO Configuration
# end of Main Configuration

#
# Button Configuration
#
CONFIG_SIZE_BUTTONS=5
CONFIG_SIZE_QUEUE=10
CONFIG_TIME_DEBOUNCING_US=15
CONFIG_POLL_TIMEOUT_US=25
CONFIG_AUTOREPEAT_ACTIVE_US=500
CONFIG_AUTOREPEAT_ACTION_US=200
CONFIG_LONG_PRESS_ACTION_US=2000
# end of Button Configuration

#
# Datatimer manager Configuration
#
CONFIG_SIZE_IDENTIFIERS=5
CONFIG_GPIO_ALARM=18
# end of Datatimer manager Configuration

#
# DS3231 Configuration 
#
CONFIG_DS3231_I2C_ADDR=0x68
CONFIG_DS3231_I2C_PORT=0
CONFIG_DS3231_I2C_SDA=21
CONFIG_DS3231_I2C_SCL=22
CONFIG_DS3231_I2C_CLOCK_HZ=400000
# end of DS3231 Configuration 

#
# I2C dev Configuration
#
CONFIG_I2CDEV_TIMEOUT=1000
# CONFIG_I2CDEV_NOLOCK is not set
# end of I2C dev Configuration

#
# PCF8574 Configuration
#
CONFIG_PCF8574_I2C_ADDR=0x27
CONFIG_PCF8574_I2C_PORT=0
CONFIG_PCF8574_I2C_SDA=21
CONFIG_PCF8574_I2C_SCL=22
CONFIG_PCF8574_I2C_CLOCK_HZ=100000
# end of PCF8574 Configuration
# end of Component config